* {
    text-shadow: 2px 2px 1px black;
}

body {
    background-color: rgb(17, 130, 175);

    font-family: sans-serif;
}

div {
    color: white;
}

#banner-left {
    width: 40%;
    background: #71ab82;
    background: radial-gradient(circle, rgba(113, 171, 130, 1) 0%, rgba(0, 128, 0, 1) 44%);
}

#banner-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    line-height: 27px;
    padding: 3px 0px;
}

h1 {
    margin: 0;
}

button {
    text-shadow: none;
}

.day {
    height: 200px;
    width: 15%;
    background-color:  darkblue;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 25pt;
}

#support {
    background-color: rgb(15, 157, 212);
    padding: 4px;
}